.header {
  width: 100%;
  font-size: 2rem;
  color: #3b0d0d;
  margin-bottom: 10px;
  font-family: 'IM Fell English SC', serif;
}

.title {
  float: left;
  font-family: 'IM Fell English SC', serif;
  font-size: 5rem;
  color: #3b0d0d;
}

.scores {
  float: right;
  font-family: 'IM Fell English SC', serif;
  font-size: 5rem;
  color: #3b0d0d;
}
